@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100%;
    height: 100%;
}

*:focus {
    outline: none;
}

@responsive {
    .col-count-4 {
        column-count: 4;
    }
    .max-w-8xl {
        max-width: 88rem;
    }
}
